<div>
  <p>Set Time:</p>
  <form class="boxed">
    <input type="radio" id="time_3" name="time" value="3" checked>
    <label for="time_3">3</label>
    <input type="radio" id="time_5" name="time" value="5">
    <label for="time_5">5</label>
    <input type="radio" id="time_10" name="time" value="10">
    <label for="time_10">10</label>
    <input type="radio" id="time_15" name="time" value="15">
    <label for="time_15">15</label>
  </form>
  <div class="card">
    <button id="modal" type="button">Start Timer</button>
  </div>
</div>
